:root {
  --sl-font: "Atkinson Hyperlegible Next Variable", sans-serif;
  --sl-font-mono: "Atkinson Hyperlegible Mono Variable", monospace;
}

.flex {
  display: flex;
}

.aspect-video {
  aspect-ratio: 16/9;
}

img,
picture {
  margin-top: 0rem;
}
