---
import { Image } from "astro:assets";

interface ImageProps {
  alt: string;
  // eslint-disable-next-line no-undef
  src: ImageMetadata;
}

interface Props {
  caption: string;
  horizontal?: boolean;
  images: ImageProps[];
}

const { caption, horizontal, images } = Astro.props;
const FULL_WIDTH = 100;
---

<style>
  .figure-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  .image-container.horizontal {
    flex-direction: row;
  }

  .image-container.vertical {
    flex-direction: column;
  }

  .image-item {
    display: block;
    width: min-content;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .figure-caption {
    text-align: center;
    font-weight: 500;
    margin-top: 0;
  }
</style>

<figure class="figure-container">
  <div class={`image-container ${horizontal ? "horizontal" : "vertical"}`}>
    {
      images.map((image) => (
        // eslint-disable-next-line @typescript-eslint/no-unsafe-return
        <Image
          alt={image.alt}
          class="image-item"
          src={image.src}
          style={{
            margin: 0,
            width: horizontal ? `${FULL_WIDTH / images.length}%` : "",
          }}
        />
      ))
    }
  </div>
  <figcaption class="figure-caption">
    {caption}
  </figcaption>
</figure>
