---
interface Props {
  caption: string;
  horizontal?: boolean;
}

const { caption, horizontal = false } = Astro.props;
---

<style>
  .figure-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
  }

  .figure-caption {
    text-align: center;
    font-weight: 500;
    margin-top: 0;
  }

  .images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  .images-container.horizontal {
    flex-direction: row;
  }

  .images-container.vertical {
    flex-direction: column;
  }
</style>

<figure class="figure-container">
  <div class={`images-container ${horizontal ? "horizontal" : "vertical"}`}>
    <slot />
  </div>
  <figcaption class="figure-caption">
    {caption}
  </figcaption>
</figure>
