figcaption {
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.bold {
  font-weight: bold;
}

@media (max-width: 768px) {
  figure {
    margin-inline: 0;
  }
}
