<style>
  figure.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    figure.figure {
      margin-inline: 0;
    }
  }

  div.images-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  div.images-container-column {
    flex-direction: column;
  }

  div.images-container img {
    display: flex;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.125);
  }

  figcaption.figcaption {
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
  }
</style>

<figure class="figure">
  <div
    class="images-container {{ if .Get `column` }}images-container-column{{ end }}"
  >
    {{ .Inner }}
  </div>
  <figcaption class="figcaption">{{ .Get "caption" }}</figcaption>
</figure>
